<!DOCTYPE html>
<html>
<head>
    <title>Товары</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <ul>
        {% for product in products %}
            <li class="product-item">
                <a class="product-name" href="/products/{{ product.root }}">{{ product.name }}</a>
                <div class="product-meta">
                    <span>{{ reviews_count[product.root] or 0 }} отз</span>
                    <span>{{ product.review_rating or "—" }} ★</span>
                </div>
                <div class="product-meta">
                    <span>{{ product.brand or "—" }}</span>
                    <span>{{ prices[product.id] or "—" }} RUB</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>